.mining-app-wrap {
  padding: 85px 0 0;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mining-bg-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mining-bg-wrap img {
  position: absolute;
  width: 100%;
  max-width: calc(100% - 20px);
  z-index: 0;
}
header {
  text-align: center;
  width: 100%;
  z-index: 1;
  margin: -30px 0 25px;
  position: relative;
}
header .close {
  position: absolute;
  top: -20px;
  right: 15px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial, sans-serif;
}
header .close.fadeIn {
  animation-delay: 0.8s;
}
header .close:focus,
header .close:hover {
  color: #fff;
  opacity: 1;
}
header img.fadeIn {
  animation-delay: 0.3s;
}
header p {
  color: #fff;
  position: absolute;
  top: -20px;
  left: 15px;
  margin-bottom: 0;
}
header p.fadeIn {
  animation-delay: 0.8s;
}

/* Main */
.main {
  z-index: 3;
  width: 100%;
  text-align: center;
  position: relative;
  top: 0;
}
.main.fadeIn {
  animation-delay: 0.3s;
}
.btns-wrap {
  margin-bottom: 8px;
  text-align: center;
}
.main form {
  text-align: center;
  margin-bottom: 10px;
}
.address-wrap,
.miner-name-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.address-wrap input,
.miner-name-wrap input {
  width: calc(100% - 420px);
  z-index: 2;
  display: inline-block;
  border: 0px none;
  border-radius: 8px;
  padding: 3px 10px;
  background: url(../images/input-bg.png) repeat-y top left;
  background-size: 100% 100%;
  color: #fff;
  position: absolute;
  left: 212px;
  text-align: center;
}
.miner-name-wrap input {
  width: calc(100% - 520px);
  left: 262px;
}
.address-wrap img {
  width: 272px;
}
.main form input {
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.main form input:hover,
.main form input:active,
.main form input:focus {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.main form input[disabled] {
  color: rgba(255, 255, 255, 0.7);
}
.main form input[disabled]:hover {
  box-shadow: none !important;
}
.main form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.main form input::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.main form input:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.main form input:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.main form .pool-url {
  background: rgba(10, 26, 45, 0.2);
  padding: 7px 10px 6px;
  color: #fff;
  border-radius: 8px;
  width: 350px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.85);
  text-align-last: center;
  height: 30px;
}
.main form .pool-url:hover {
  cursor: pointer;
}
.main form .pool-url:focus {
  outline: none;
}
.main form .pool-url[disabled] {
  color: rgba(255, 255, 255, 0.7);
}
.main form .pool-url[disabled]:hover {
  box-shadow: none !important;
  cursor: initial;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 0 20px;
}
.custom-checkbox input[type="checkbox"] {
  display: none;
}
.custom-checkbox {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  position: relative;
  top: -20px;
  padding-left: 22px;
  margin-bottom: 0px;
  text-align: left;
  display: inline-block;
  width: auto;
}
.custom-checkbox:before {
  content: "";
  background: url(../images/check-off.png);
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
}
.custom-checkbox.checked:before {
  background: url("../images/check-on.png");
  background-size: 100% 100%;
}
.main form #cpuUsage {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 2px 29px 3px 12px;
  border: 1px solid rgba(255, 255, 255, 0.85);
  background-color: rgba(28, 170, 203, 0.35);
  color: #fff;
  border-radius: 10px;
  text-align-last: center;
  width: auto;
  height: 30px;
  margin-left: 5px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.main form #cpuUsage:hover {
  cursor: pointer;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.main form #cpuUsage:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.85);
}
.main form #cpuUsage[disabled] {
  color: rgba(255, 255, 255, 0.7);
}
.main form #cpuUsage[disabled]:hover {
  box-shadow: none !important;
  cursor: initial;
}
.main form .input-group p {
  font-family: "Avenir Bold", sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  margin-right: 5px;
  font-size: 13px;
  white-space: nowrap;
  position: relative;
  top: 2px;
}
.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.submit {
  border-radius: 7px;
  background-color: rgba(18, 190, 221, 0.45);
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  line-height: 1.2;
  position: relative;
  border: 2px solid #60c9e6;
  margin: 0px 0 10px;
  padding: 7px 0px 3px;
  width: 140px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.submit:hover {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  cursor: pointer;
}
.submit:active {
  box-shadow: none !important;
}
.submit.active {
  background-color: rgba(221, 18, 99, 0.4);
  border: 2px solid #ff004e;
}
.submit.active:hover {
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
}
.mining-info {
  color: #fff;
  text-transform: uppercase;
  visibility: hidden;
  opacity: 0;
  min-height: 18px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1;
  transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.mining-info.active {
  visibility: visible;
  opacity: 1;
}

/* Bottom blocks */
.block,
.hashrate,
.balance {
  font-family: "Courier New", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.block,
.hashrate,
.balance {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.white-text {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
  margin-left: 7px;
  line-height: 1;
  position: relative;
  top: -3px;
  width: 330px;
  text-align: left;
}
.blue-text {
  font-size: 14px;
  line-height: 1;
  color: #00deff;
  margin-bottom: 5px;
  margin-right: 7px;
  width: 220px;
  text-align: right;
}
.blue-text-cpu-model {
  font-family: "Courier New", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  color: #00deff;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-right: 7px;
  margin-top: 8px;
  width: 80px;
  text-align: right;
}
.white-text-cpu-model {
  font-family: "Courier New", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  margin-bottom: 0;
  margin-left: 7px;
  line-height: 1;
  position: relative;
  top: -3px;
  width: 145px;
  text-align: left;
}
@media (min-width: 820px) {
  .mining-bg-wrap img {
    max-width: 800px;
  }
}
#addPoolButton,
#cancelAddPoolButton,
#cancelAddPoolButton,
#cancelDeletePoolButton,
#confirmDeletePoolButton {
  border-radius: 4px; /* Even smaller radius for a more refined look */
  background-color: rgba(18, 190, 221, 0.45); /* Same as START button */
  color: #fff;
  font-size: 14px; /* Reduced font size for smaller appearance */
  font-weight: 700; /* Keeping the boldness */
  text-transform: uppercase;
  letter-spacing: 0.8px; /* Slightly adjusted letter spacing */
  line-height: 1.2;
  border: 2px solid #60c9e6; /* Same border style */
  padding: 4px 8px; /* Reduced padding for a smaller size */
  width: auto; /* Auto width based on content */
  cursor: pointer; /* Ensure it's clear these are clickable */
  transition: all 0.2s ease-in; /* Smooth transition for interactions */
  margin: 0 5px; /* Add some margin if buttons are next to each other */
}

#cancelAddPoolButton,
#cancelDeletePoolButton {
  background-color: rgba(221, 18, 99, 0.4);
  border: 2px solid #ff004e;
}

#addPoolButton:hover,
#confirmDeletePoolButton:hover {
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5) !important; /* Adjusted hover effect */
}

#cancelAddPoolButton:hover,
#cancelDeletePoolButton:hover {
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
}

#addPoolButton:active,
#confirmDeletePoolButton:active,
#cancelAddPoolButton:active #cancelDeletePoolButton:active {
  box-shadow: none !important; /* Active state effect */
}

#addPoolModal,
#confirmDeletePoolModal {
  display: none; /* Change to block or flex when you want to show the modal */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 205, 235, 0.5);
  z-index: 200;
  backdrop-filter: blur(5px);
}

#addPoolModal > div,
#confirmDeletePoolModal > div {
  background-color: #3b90db;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #a2ccff;
  width: 400px;
  height: auto; /* Adjusted to accommodate content */
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
}

/* Additional styles for the buttons to make them sit next to each other */
#addPoolButton,
#confirmDeletePoolButton,
#cancelAddPoolButton #cancelDeletePoolButton {
  margin: 0 5px; /* Adjust spacing between buttons */
}

#newPoolUrl {
  width: calc(100% - 90px);
  left: 42px;
  background: url(../images/input-bg.png) repeat-y top left;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  color: rgb(255, 255, 255);
}

#newPoolUrl:hover,
#newPoolUrl:active,
#newPoolUrl:focus {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
#newPoolUrl[disabled] {
  color: rgba(255, 255, 255, 0.7);
}
#newPoolUrl[disabled]:hover {
  box-shadow: none !important;
}
#newPoolUrl::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
#newPoolUrl::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
#newPoolUrl:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
#newPoolUrl:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}

#hashrateStats {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: white;
  z-index: 10;
}

#deleteConfirmationText {
  color: rgb(255, 255, 255);
}
